﻿@model EditViewModel

<div class="container-fluid">
    <h1 class="mt-4">Edit</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <form asp-controller="Blog" asp-action="Update" method="post" enctype="multipart/form-data">
                    <input asp-for="Blog.Id" readonly hidden />
                    <div class="card-header">
                        <i class="fas fa-pen-fancy mr-1"></i>
                        Edit this blog
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="BlogHeaderImage"></label>
                            <div class="custom-file">
                                <input asp-for="BlogHeaderImage" class="custom-file-input" accept="image/*" />
                                <label class="custom-file-label">Choose file</label>
                            </div>
                            <span asp-validation-for="BlogHeaderImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Blog.Title"></label>
                            <input asp-for="Blog.Title" class="form-control" required />
                            <span asp-validation-for="Blog.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Blog.Content"></label>
                            <textarea asp-for="Blog.Content" class="form-control textarea" rows="8"></textarea>
                            <span asp-validation-for="Blog.Content" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="card-footer">
                        <div class="form-group">
                            <p class="text-muted"> Publish mow or save for later edits</p>
                            <label>Publish now?</label>
                            <input type="checkbox" data-toggle="toggle" asp-for="Blog.Published" />
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.textarea'))
            .catch(error => {
                console.error(error);
            });
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}