﻿<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">AdrewBlog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data--target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>

                </li>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
          
        </div>
    </div>
</nav>