﻿@using Microsoft.AspNetCore.Identity
@using AndrewBlog.Data.Models
@inject UserManager<ApplicationUser> UserManager
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <a class="nav-link" asp-controller="Blog" asp-action="Create">
                <div class="sb-nav-link-icon"><i class="fas fa-pen"></i></div>
                Create Post
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        @($"{(await UserManager.GetUserAsync(User)).FirstName} {(await UserManager.GetUserAsync(User)).LastName}")
    </div>
</nav>